main {
  padding: 2rem 0;
}

.movieInfo {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
}

.movieInfo .info{
  display: grid;
  gap: 1rem;
  align-content: start;
}

.posterWrapper {
  height: 360px;
  min-width: 240px;
  background-color: lightgrey;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.genresWrapper {
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-secondary);
}

.genres {
  display: flex;
  gap: 4px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
  gap: 4px;
}

.rating svg{
  width: 1.2rem;
  height: 1.2rem;
}

.overview  {
  max-width: 100%;
  line-height: 1.3;
  font-size: 1rem;
  color: var(--text-secondary);
}

.recommendations {
  padding: 2rem 0;
}

.recommendations h2{
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: 500;
}