@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');

:root {
  --background: rgba(25, 25, 25, 1);
  --background: black;
  --text-primary: #FFFFFF;
  --text-secondary: #EEF1F3;
  --text-tertiary: #A9B2B9;
  --content-2: #5E6A74;
  --border: #222222;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.app {
  min-height: 100vh;
  background-color: var(--background);
}

.app.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 0;
}

.app.bg::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .85;
}